body{
  font-family: 'Open Sans', sans-serif;
}
iframe {
  max-height: 100%;
  border: 0 !important;
}
a {
  -webkit-transition: all ease 150ms;
  -moz-transition: all ease 150ms;
  -o-transition: all ease 150ms;
  transition: all ease 150ms;
  text-decoration: none;
  /*color: #783b9c;*/
  color: #B7005B;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}
.navbar {
  padding:16px;
  background:#EEEEEE;
  min-height: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  /*background-color:rgba(0, 0, 0, 0.0);*/
}
.navbar a{
  /*color:#FFFFFF;*/
}
.navbar a:hover {
  text-decoration: none;
}

.jumbotron {
  background-color: #FFFFFF;

  background: -moz-linear-gradient(-45deg,  rgba(255,0,46,0.7) 0%, rgba(255,255,255,0) 100%), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,0,46,0.7)), color-stop(100%,rgba(255,255,255,0))), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,0,46,0.7) 0%,rgba(255,255,255,0) 100%), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,0,46,0.7) 0%,rgba(255,255,255,0) 100%), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,0,46,0.7) 0%,rgba(255,255,255,0) 100%), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,0,46,0.7) 0%,rgba(255,255,255,0) 100%), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ff002e', endColorstr='#00ffffff',GradientType=1 ), url('../img/ungovinternet-cover.jpg') no-repeat center center #333333; /* IE6-9 fallback on horizontal gradient */

  background-size: cover;
  padding-top:120px;
  padding-bottom:100px;
  margin-bottom: 0;
}
.jumbotron h1 {
  color:#FFFFFF;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)*/
  text-shadow: 2px 2px 4px rgba(142, 0, 0, 0.8);
}
.jumbotron h2, .jumbotron a {
  color:#FFFFFF;
  line-height: 130%;
  text-shadow: 2px 2px 4px rgba(142, 0, 0, 0.8);
}

.jumbotron a:hover {
  text-shadow: none;
  color: #DB2A47;
}

.btn-outline {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FFFFFF;
  color: #FFFFFF;
 }
.body-content h1 {
  line-height: 1.1;
  margin-bottom: 20px;
}
.body-content h2 {
  margin-top:60px;
  margin-bottom:20px;
  text-transform: uppercase;
  font-size: 1.0em;
  font-weight: 700;
  color: #666666;
}
.body-content h4 {
  text-align: left;
}
.body-content .supporters img {
  width:150px;
}
.body-content .supporters .caption {
  font-size: 0.80em;
  line-height: 0.80em;
  opacity: .5;
  filter: alpha(opacity=50);
}

ul.participation, ul.participation-topics {
  list-style-type: none;
  margin:0;padding:0;
}
ul.participation-topics li {
  /*float:left;*/
  text-align: left;
}

input {
  display: block;
  vertical-align: middle;
  line-height: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

footer {
  padding: 50px 0 50px 0;
  margin-top: 50px;
  /*background-color: #b6294c;*/
  /*color: #FFFFFF;*/
}

.body-content .supporters div.text-center {
    min-height: 160px;
}

.btn {
  margin-bottom: 20px;
}

#lang-switcher {
    float: right;
}

/* Video styles */

.video-js {
  width: 100% !important;
  height: 320px !important;
  /* width="620" height="349" */
}
.video-duration {
  float: right;
  font-size: 13px;
  font-weight: bold;
}
.caption h4 {
    font-weight: bold;
}

/* Media queries */

@media only screen and (max-width: 64.063em) {
    #lang-switcher {
        float: none;
        margin-left: 15px;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
    .jumbotron h2 {
        font-size: 20px;
    }
    .venue {
      font-size: 16px;
    }
    .container h1 {
      font-size: 24px;
    }
}
@media only screen and (max-width: 40em) {
    #lang-switcher {
        float: none;
        margin-left: 15px;
    }
    .jumbotron h1 {
      font-size: 36px;
    }
    .jumbotron h2 {
        font-size: 20px;
    }
    .venue {
      font-size: 16px;
    }
    .container h1 {
        font-size: 24px;
    }
}
